.nav-bar {
    background-color: white;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-container {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%
}

.nav-logo-container, h1 {
    
}

.nav-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
}

.nav-logo {
    width: 40px;
}

.nav-buttons {
    height: 80%;
    background-color: #06deb2;
    color: white;
}