.Game {
  color: black;
  /* margin: 5rem 0 0 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.game-container {
  margin-top: 3rem;
  background-color: white;
  width: 80%;
  height: 75%;
  /* position: absolute; */
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  overflow: auto;
}
.game-info-container {
  margin-top: 3rem;
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.game-event-container {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 20px;
}

.game-list {
  list-style: none;
  padding-left: 0%;
}

.image {
  height: 150px;
  width: 225px;
}

.bold-font {
  font-weight: 800;
  margin: 0%;
}
h3 {
  margin: 0%;
}
