.Game {
  color: black;
  /* margin: 5rem 0 0 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.game-container {
  margin-top: 3rem;
  background-color: white;
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.game-game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* overflow: auto; */
}

.game-info-container {
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* align-content: flex-start; */
}

.game-event-container {
  margin-top: 3rem;
  width: 30%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(235, 115, 135);
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 100%;
  justify-content: space-around;
  /* padding-top: ; */
}
.event-list-container {
  text-align: center;
  margin-top: 1rem;

  overflow-y: scroll;
}

.image {
  height: 150px;
  width: 225px;
}

.bold-font {
  font-weight: 800;
  margin: 0%;
}
h3 {
  margin: 0%;
}

.game-buttons-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.button-game {
  min-width: 10%;
  font-weight: 300;
  font-size: 1rem;
  justify-self: center;
  margin-left: 3rem;
  background-color: #06deb2;
  color: white;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.game-open-event {
  color: #06deb2;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.game-closed-event {
  color: red;
  margin-right: 1rem;
}

.game-event-link {
  margin-top: 1rem;
  /* border-bottom: 0.5px solid black; */
  padding-bottom: 1rem;
  text-decoration: none;
  color: black;
}

.game-img-title {
  display: flex;
  justify-content: space-around;
}

.game-img-title h3 {
  margin-left: 1rem;
}

.button-game-container {
}
